@define-color base      #282828;
@define-color text      #ebdbb2;
@define-color select    #928374;
@define-color urgent    #d79921;
@define-color red       #fb4934;
@define-color green     #b8bb26;
@define-color blue      #83a598;

* {
    font-family: FontAwesome, JetBrains Mono Nerd Font;
    font-size: 18px;
}

window#waybar {
    background-color: @base;
    color: @text;
    transition-property: background-color;
    transition-duration: .5s;
}

#window {
    margin-top: 5px;
    padding-right: 5px;
    padding-left: 5px;
    transition: none;
}

button {
    border: none;
    border-radius: 0;
}

#workspaces button {
    padding: 0 6px;
    background-color: @base;
    color: @text;
}

#workspaces button:hover {
    background: @select;
}

#workspaces button.focused {
    background-color: @select;
    color: @text;
}

#workspaces button.urgent {
    background-color: @urgent;
}

#cpu {
    margin: 5px 6px 5px 6px;
    color: @text;
}

#memory {
    margin: 5px 6px 5px 6px;
    color: @text;
}

#window,
#workspaces {
    margin: 0 4px;
    color: @text;
}

.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}
