@define-color base      #161616;
@define-color text      #f2f4f8;
@define-color select    #78a9ff;
@define-color urgent    #535353;
@define-color red       #d16983;
@define-color green     #8ebaa4;
@define-color blue      #86abdc;

* {
    font-family: FontAwesome, JetBrains Mono Nerd Font;
    font-size: 18px;
}

window#waybar {
    background-color: @base;
    color: @text;
    transition-property: background-color;
    transition-duration: .5s;
}

button {
    border: none;
    border-radius: 0;
}

#workspaces button {
    padding: 0 6px;
    background-color: @base;
    color: @text;
}

#workspaces button:hover {
    background: @select;
}

#workspaces button.focused {
    background-color: @select;
    color: @text;
}

#workspaces button.urgent {
    background-color: @urgent;
}

#cpu {
    margin: 5px 6px 5px 6px;
    color: @red;
}

#memory {
    margin: 5px 6px 5px 6px;
    color: @green;
}

#temperature {
    margin: 5px 6px 5px 6px;
    color: @blue;
}

#window,
#workspaces {
    margin: 0 4px;
    color: @text;
}

.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}
