@define-color base      #121212;
@define-color text      #e0def4;
@define-color select    #c4a7e7;

* {
    all: unset;
    font-family: JetBrains Mono Nerd Font;
}

window#waybar {
    background-color: @base;
    border: 2px solid @select;
    color: @text;
}

tooltip, menu {
    background-color: @base;
    border: 2px solid @select;
}

menu {
    padding: 16px;
}

#tray {
    margin: 6px 6px 6px 0px;
}

#workspaces button {
    padding: 4px 8px;
}

#workspaces button:hover, button.focused {
    background-color: @select;
}

.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}
