@define-color base      #282828;
@define-color text      #ebdbb2;
@define-color select    #928374;

* {
    font-family: JetBrains Mono Nerd Font;
    border-radius: 0px;
    border: none;
    outline: none;
}

window {
    font-size: 18px;
    background-color: @base;
    color: @text;
    animation: slideIn 0.25s ease-in-out both;
}

#entry:selected {
    background-color: @select;
    color: @text;
}

#input {
    background-color: @base;
    color: @text;
}

#input:focus {
    box-shadow: none;
    outline: none;
}

@keyframes slideIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
